.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  &__title {
    margin: 95px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #534847;
    width: 20%;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .service {
      width: 215px;
      height: 265px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-family: 'Raleway';
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #534847;
        width: 178px;
      }

      p {
        text-align: center;
        color: #8d8180;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .service-wrapper {
    width: 100%;
    margin: 50px 0;
    &__title {
      margin: 0% 10%;
      font-size: 20px;
      line-height: 25px;
      width: 80%;
    }

    .content {
      flex-direction: column;
      align-items: center;
      margin-top: 5%;

      .service {
        margin: 5% 10%;
        height: auto;
        width: 80%;

        h3 {
          margin: 5% 0%;
          font-size: 14px;
        }

        p {
          margin-top: 5% 0%;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 790px) {
  .service-wrapper {
    margin: 0px;

    &__title {
      margin: 50px 0;
      font-size: 25px;
      width: 100%;
    }

    .content {
      .service {
        width: 90%;
        h3 {
          font-size: 14px;
          width: 100%;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (min-width: 790px) and (max-width: 1150px) {
  .service-wrapper {
    margin: 0px;

    &__title {
      margin: 100px 0;
      font-size: 28px;
      width: 100%;
    }

    .content {
      .service {
        width: 100%;
        h3 {
          font-size: 16px;
          width: 100%;
        }

        p {
          width: 80%;
          font-size: 14px;
        }
      }
    }
  }
}
