.about {
  margin-top: 0px;
  .post1 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    .image {
      width: 48%;
      height: auto;
    }
    .details {
      margin-left: 128px;
      &__title {
        font-family: 'Raleway';
        font-size: 40px;
        width: 300px;
        line-height: 47px;
        font-weight: 700;
        color: #534847;
      }
      &__description {
        margin-top: 45px;
        color: #8d8180;
      }
      &__button {
        margin-top: 90px;
        color: white;
        text-align: center;
        background-color: #e6a859;
        padding: 12px 0px 11px 0px;
        width: 220px;
        &:hover {
          padding: 11px -1px 10px -1px;
          background-color: white;
          color: #e6a859;
          border: 1px solid #e6a859;
          cursor: pointer;
        }
      }
    }
    .background {
      position: absolute;
      z-index: -1;
      width: 78%;
      height: 618px;
      right: 0px;
      top: -110px;
    }
  }
  .post2 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    .image {
      width: 49%;
      height: 500px;
      margin-bottom: 130px;
    }
    .details {
      margin: 75px 40px 0px 110px;
      &__title {
        font-family: 'Raleway';
        font-size: 40px;
        width: 300px;
        line-height: 47px;
        font-weight: 700;
        color: #534847;
      }
      &__description {
        margin-top: 47px;
        color: #8d8180;
        width: 531px;
      }
      &__button {
        margin-top: 90px;
        color: white;
        text-align: center;
        background-color: #e6a859;
        padding: 12px 0px 11px 0px;
        width: 220px;
        &:hover {
          padding: 11px -1px 10px -1px;
          background-color: white;
          color: #e6a859;
          border: 1px solid #e6a859;
          cursor: pointer;
        }
      }
    }
    .background {
      position: absolute;
      z-index: -1;
      width: 80%;
      height: 630px;
      left: 0px;
    }
  }
}
