.about {
  margin-top: 0px;

  .post1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    .image {
      width: 48%;
    }

    .details {
      width: 45%;

      &__title {
        font-family: 'Raleway';
        font-size: 40px;
        width: 300px;
        line-height: 47px;
        font-weight: 700;
        color: #534847;
      }

      &__description {
        margin-top: 45px;
        color: #8d8180;
      }

      &__button {
        margin-top: 90px;
        color: white;
        text-align: center;
        background-color: #e6a859;
        padding: 12px 1px;
        width: 220px;

        &:hover {
          padding: 11px 0px;
          background-color: white;
          color: #e6a859;
          border: 1px solid #e6a859;
          cursor: pointer;
        }
      }
    }

    .background {
      position: absolute;
      z-index: -1;
      width: 78%;
      height: 618px;
      right: 0px;
      top: -110px;
    }
  }
  .post2 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    .image {
      width: 49%;
      margin-bottom: 130px;
    }
    .details {
      margin-left: 8%;
      margin-top: 5%;
      width: 40%;
      &__title {
        font-family: 'Raleway';
        font-size: 40px;
        width: 300px;
        line-height: 47px;
        font-weight: 700;
        color: #534847;
      }
      &__description {
        margin-top: 47px;
        color: #8d8180;
      }
      &__button {
        margin-top: 90px;
        color: white;
        text-align: center;
        background-color: #e6a859;
        padding: 12px 0px 11px 0px;
        width: 220px;
        &:hover {
          padding: 11px -1px 10px -1px;
          background-color: white;
          color: #e6a859;
          border: 1px solid #e6a859;
          cursor: pointer;
        }
      }
    }
    .background {
      position: absolute;
      z-index: -1;
      width: 80%;
      height: 630px;
      left: 0px;
    }
  }
}

@media screen and (max-width: 425px) {
  .about {
    .post1 {
      flex-direction: column;

      .image {
        width: 100%;
      }

      .details {
        width: 100%;

        &__title {
          width: 100%;
          text-align: center;
          font-size: 20px;
        }

        &__description {
          margin: 5%;
          width: 90%;
          text-align: center;
          font-size: 12px;
        }

        &__button {
          margin: 5% 40%;
          width: 20%;
          font-size: 10px;
          padding: 6px 1px;

          &:hover {
            padding: 5px 0px;
          }
        }
      }

      .background {
        display: none;
      }
    }

    .post2 {
      flex-direction: column;

      .image {
        width: 100%;
        margin: 0px;
      }

      .details {
        width: 100%;
        margin: 0;

        &__title {
          width: 100%;
          text-align: center;
          font-size: 20px;
        }

        &__description {
          margin: 5%;
          width: 90%;
          text-align: center;
          font-size: 12px;
        }

        &__button {
          margin: 5% 40%;
          width: 20%;
          font-size: 10px;
          padding: 6px 1px;

          &:hover {
            padding: 5px 0px;
          }
        }
      }

      .background {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .about {
    .post1 {
      flex-direction: column;

      .image {
        width: 100%;
      }

      .details {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        &__title {
          margin-top: 20px;
          font-size: 25px;
          width: 100%;
          text-align: center;
          line-height: 30px;
        }

        &__description {
          margin: 10px 20px;
        }

        &__button {
          margin: 20px;
          font-size: 12px;
          width: 100px;
          padding: 8px 1px;

          &:hover {
            padding: 7px 0px;
          }
        }
      }

      .background {
        display: none;
      }
    }
    .post2 {
      flex-direction: column;

      .image {
        width: 100%;
        margin: 0px;
      }

      .details {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0px;

        &__title {
          margin-top: 20px;
          font-size: 25px;
          width: 100%;
          text-align: center;
          line-height: 30px;
        }

        &__description {
          margin: 10px 20px;
        }

        &__button {
          margin: 20px;
          font-size: 12px;
          width: 100px;
          padding: 8px 1px;

          &:hover {
            padding: 7px 0px;
          }
        }
      }

      .background {
        display: none;
      }
    }
  }
}
