.construction{
    height: 807px;
    width: 1169px;

    &__left{
        border: solid 1px blue;            
        width: 642px;
        height: 325px;
        margin-left: 159px;
        margin-top: 86px;

        &__title1{
            display: flex;
            height: 65px;
            h1{
                font-size: 55px;
                line-height: 64.5px;
                font-weight: 700px;
                color: #534847;
                margin-top: 0px;
            }

            .title-topic1{
                margin-left:12px;
                margin-right:10px;
            }

            .title-topic2{
                margin-right:21px;
                color: #E2B84C;
            }

        }

        &__title2{
            display: flex;      
            height: 65px; 

            h1{
                font-size: 55px;
                line-height: 64.5px;
                font-weight: 700px;
                color: #534847;
                margin-top: 0px;

            }

            .title-topic4{
                margin-left:12px;
                margin-right:12px;
            }

        }

        &__description{
            margin-left: 12px;
            p{
                font-size:16px;
                line-height: 24px;; 
                width:428px;
                height: 120px;
                color:#8D8180;
            }
        }
    &__right{

        &__image{            
        }
    }
    }
}