.main-post {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;

  .information {
    height: inherit;
    padding-left: 11%;
    width: 56%;

    &__title {
      h1 {
        display: flex;
        margin-top: 60px;
        height: 60px;
        width: 95%;
        font-size: 50px;
        line-height: 60px;
        color: #534847;
        font-weight: 600;
        white-space: nowrap;

        span {
          color: #e2b84c;
          padding-left: 12px;
          padding-right: 12px;
        }
      }
      h2 {
        display: flex;
        margin-bottom: 60px;
        height: 35px;
        width: 95%;
        font-size: 50px;
        line-height: 60px;
        color: #534847;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      width: 90%;
      height: 120px;
      color: #8d8180;

      &--yellow {
        color: #e2b84c;
        cursor: pointer;
      }
    }

    &__action {
      width: 112px;
      font-size: 14px;
      color: #e2b84c;
      line-height: 1px;
      font-weight: 400;
      border-bottom: 1px solid #e2b84c;
      text-align: right;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.1);
      }

      span {
        background: #fff;
        padding: 0 10px;
      }
    }
  }

  &__image {
    width: 40%;
    border-top-left-radius: 25px;
  }

  &__button {
    right: 0;
    bottom: 0;
    width: 20%;
    height: 10%;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #534847;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  .big-circle {
    top: 36px;
    left: -51px;
    position: absolute;
  }

  .dots {
    position: absolute;
    left: 20px;
    top: 526px;
  }
}

//mobile screen
@media screen and (max-width: 450px) {
  .main-post {
    flex-direction: column;
    align-self: center;

    .information {
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        h1 {
          font-size: 25px;
          height: 40px;
          line-height: 10px;
          margin: 0px;
        }
        h2 {
          margin: 0px;
          font-size: 25px;
          height: 40px;
          line-height: 10px;
        }
      }
      &__description {
        width: 80%;
        text-align: justify;
        font-size: 12px;
        line-height: 20px;
        height: 100px;
        text-align: center;
      }

      &__action {
        width: auto;
        font-size: 10px;
        margin-bottom: 30px;
      }
    }
    &__image {
      width: 100%;
      border-radius: 0;
    }
    &__button {
      width: 100%;
      font-size: 12px;
    }
    .big-circle {
      display: none;
    }
    .dots {
      display: none;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 790px) {
  .main-post {
    height: auto;

    .information {
      &__title {
        h1 {
          font-size: 25px;
          line-height: 40px;
          height: auto;
        }

        h2 {
          font-size: 25px;
          line-height: 40px;
          height: auto;
          margin-bottom: 20px;
        }
      }

      &__description {
        font-size: 14px;
      }

      &__action {
        margin-top: 60px;
        margin-left: 0;
      }
    }

    &__image {
      width: 33%;
    }

    &__button {
      font-size: 10px;
    }
    .big-circle {
      transform: scale(0.5);
    }
    .dots {
      transform: scale(0.5);
      left: 0px;
      top: 200px;
    }
  }
}

@media screen and (min-width: 789px) and (max-width: 1150px) {
  .main-post {
    height: auto;

    .information {
      &__title {
        h1 {
          font-size: 33px;
          line-height: 40px;
          height: 50px;
        }

        h2 {
          font-size: 33px;
          line-height: 40px;
          height: 50px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
