.history-post {
  position: relative;
  margin: 200px 170px;
  display: flex;
  justify-content: space-between;

  .title {
    width: 24%;

    h2 {
      font-family: 'Raleway';
      font-size: 40px;
      font-weight: 700;
      line-height: 47px;
      color: #534847;
    }

    &__support-text {
      display: flex;
      width: auto;
      color: #e2b84c;
      margin: 21px 0px 0px 0px;
      cursor: pointer;
      .dash {
        width: 25px;
        margin-right: 12px;
        line-height: 1px;
        border-bottom: 1px solid #e2b84c;
        height: 12px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
      }
    }
  }

  .description {
    color: #8d8180;
    width: 580px;
    display: flex;
    flex-direction: column;
    margin: 60px 0px;
    p {
      padding: 35px 0px;
    }

    &__author {
      align-self: flex-end;
      width: 112px;
      font-size: 16px;
      color: #e2b84c;
    }
  }

  .small-circle {
    position: absolute;
    right: -110px;
    top: -104px;
  }

  .dots {
    position: absolute;
    left: -126px;
    top: 358px;
  }
}

//mobile
@media screen and (max-width: 450px) {
  .history-post {
    margin: 20px 0px;
    flex-direction: column;
    align-items: center;

    .title {
      width: 60%;
      h2 {
        font-size: 25px;
        text-align: center;
        line-height: 25px;
      }

      &__support-text {
        width: 100%;
        font-size: 12px;
        border: none;
        text-align: center;
      }
    }

    .description {
      margin: 0px;
      width: 100%;
      p {
        text-align: center;
        padding: 20px;
        font-size: 10px;
      }
      &__author {
        font-size: 12px;
      }
    }

    .small-circle {
      display: none;
    }

    .dots {
      display: none;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 780px) {
  .history-post {
    margin: 100px 0px;
    flex-direction: column;
    align-items: center;

    .title {
      width: 100%;

      h2 {
        text-align: center;
        font-size: 25px;
      }

      &__support-text {
        width: auto;
        border: 0px;
        text-align: center;
        font-size: 16px;
      }
    }
    .description {
      margin: 20px 0px;
      width: 90%;
      text-align: center;

      p {
        padding: 20px 0px;
        font-size: 14px;
      }

      &__author {
        font-size: 14px;
      }
    }
    .small-circle {
      display: none;
    }

    .dots {
      display: none;
    }
  }
}
