.history-post {
  position: relative;
  margin: 200px 170px;
  display: flex;
  justify-content: space-between;

  .title {
    width: 340px;
    h2 {
      font-family: 'Raleway';
      font-size: 40px;
      font-weight: 700;
      line-height: 47px;
    }

    &__support-text {
      width: 310px;
      font-size: 16px;
      color: #e2b84c;
      font-weight: 400;
      line-height: 1px;
      text-align: right;
      margin: 21px 0px 0px 0px;
      border-bottom: 1px solid #e2b84c;

      span {
        background: #fff;
        padding: 0 12px;
      }
    }
  }

  .description {
    color: #8d8180;
    width: 580px;
    display: flex;
    flex-direction: column;
    margin: 60px 0px;
    p {
      padding: 35px 0px;
    }

    &__author {
      align-self: flex-end;
      width: 112px;
      font-size: 16px;
      color: #e2b84c;
      font-weight: 400;
    }
  }

  .small-circle {
    position: absolute;
    right: -110px;
    top: -104px;
  }

  .dots {
    position: absolute;
    left: -126px;
    top: 358px;
  }
}
