.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 11%;
  height: 138px;

  ul {
    width: 35%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      color: #000000;
    }
    .quote {
      padding: 6px 10px 8px 10px;
      background-color: #e6a859;
      color: white;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &:hover {
        border: solid 1px #e6a859;
        background-color: white;
        color: #e6a859;
        padding: 5px 9px 7px 9px;
      }
    }
  }
}

//mobile screen
@media screen and (max-width: 425px) {
  .navbar {
    margin: 5%;
    height: auto;

    ul {
      width: 100%;

      a {
        font-size: 12px;
      }
      .quote {
        font-size: 12px;
      }
    }
  }
}

//Tablet screen
@media screen and (min-width: 425px) and (max-width: 768px) {
  .navbar {
    margin: 0 10%;
    height: 100px;
    width: 80%;

    ul {
      width: 100%;

      a {
        font-size: 12px;
      }
      .quote {
        font-size: 12px;
      }
    }
  }
}
