.gallery-rectangle {
  height: 850px;
  max-width: 90%;
  background-color: #f9f9f9;
  display: flex;
  align-items: left;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;

  .gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .gallery-information {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 60px 0px;
    }

    .gallery {
      &__title {
        min-width: 50%;
        h1 {
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          color: #534847;
          margin: 40px 0px;
        }

        p {
          font-size: 16px;
          width: 310px;
          color: #e2b84c;
          line-height: 1px;
          font-weight: 400;
          border-bottom: 1px solid #e2b84c;
          text-align: right;

          span {
            background: #f9f9f9;
            padding: 0 10px;
          }
        }
      }

      &__description {
        max-width: 50%;
        width: 290px;
        text-align: left;
        font-size: 16px;
        color: #8d8180;
        margin: 40px 30px;
      }

      &__image {
        width: 90%;
      }
    }
  }

  .dots {
    position: absolute;
    z-index: -11;
    right: -11%;
    bottom: 190px;
  }
}

@media screen and (max-width: 450px) {
  .gallery-rectangle {
    max-width: 100%;
    background-color: white;
    align-items: center;
    height: auto;
    margin-bottom: 60px;

    .gallery-wrapper {
      align-items: start;

      .gallery-information {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0px;
      }

      .gallery {
        &__title {
          h1 {
            font-size: 20px;
            text-align: center;
            line-height: 25px;
            margin: 20px 0px;
          }

          p {
            font-size: 12px;
            width: auto;

            span {
              background-color: white;
            }
          }
        }

        &__description {
          max-width: 80%;
          font-size: 10px;
          text-align: center;
          margin: 5%;
        }

        &__image {
          width: 100%;
        }
      }
    }
    .dots {
      display: none;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 780px) {
  .gallery-rectangle {
    max-width: 100%;
    height: auto;

    .gallery-wrapper {
      align-items: center;

      .gallery-information {
        width: 90%;
        margin: 20px 0px;
      }

      .gallery {
        &__title {
          h1 {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
          }

          p {
            width: 80%;
            height: auto;
            font-size: 14px;
            text-align: left;
            border: none;
            line-height: 16px;
            span {
              background: transparent;
              padding: 0px;
            }
          }
        }
        &__description {
          font-size: 12px;
          margin: 50px 30px;
        }

        &__image {
          width: 90%;
        }
      }
    }
  }

  .dots {
    display: none;
  }
}
