.gallery-rectangle {
  height: 850px;
  max-width: 90%;
  background-color: #f9f9f9;
  display: flex;
  align-items: left;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;

  .gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .gallery-information {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 60px 0px;
    }

    .gallery {
      &__title {
        min-width: 50%;
        h1 {
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          color: #534847;
          margin: 40px 0px;
        }

        p {
          font-size: 16px;
          width: 310px;
          color: #e2b84c;
          line-height: 1px;
          font-weight: 400;
          border-bottom: 1px solid #e2b84c;
          text-align: right;

          span {
            background: #f9f9f9;
            padding: 0 10px;
          }
        }
      }

      &__description {
        max-width: 50%;
        width: 290px;
        text-align: left;
        font-size: 16px;
        color: #8d8180;
        margin: 40px 30px;
      }

      &__image {
        width: 90%;
      }
    }
  }

  .dots {
    position: absolute;
    z-index: -11;
    right: -11%;
    bottom: 190px;
  }
}
