.footer-wrapper {
  padding: 80px 0px;
  background-color: #282322;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: white;
    margin: 0 20%;

    &__about {
      min-width: 20%;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 20px;
      }

      p {
        margin: 50px 0px;
        width: 315px;
        font-size: 16px;
      }
    }
    &__input {
      min-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: left;
      h1 {
        font-size: 20px;
      }

      p {
        margin-top: 50px;
        font-size: 16px;
      }

      .form {
        display: flex;
        flex-direction: column;

        input[type='email'] {
          text-align: center;
          border: none;
          margin: 8px 0px;
          height: 47px;
        }

        input[type='submit'] {
          text-align: center;
          border: none;
          margin: 8px 0px;
          padding: 1px;
          height: 47px;
          background-color: #e6a859;
          color: white;
          cursor: pointer;
          &:hover {
            padding: 0px;
            background-color: white;
            border: 1px solid #e6a859;
            color: #e6a859;
          }
        }
      }
    }
    &__links {
      min-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: left;

      h1 {
        font-size: 20px;
      }

      .link-group {
        width: 100%;
        margin: 50px 0px;
        display: flex;
        flex-direction: column;

        .link {
          display: flex;
          max-width: 55%;
          align-items: center;
          justify-content: space-between;
          margin: 10px 0px;
          color: white;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-copyright {
    color: white;
    margin: 25px 0;
  }

  .footer-navigation {
    color: white;
    width: 30%;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .footer-wrapper {
    width: 100%;
    padding: 20px 0px;

    .footer {
      flex-direction: column;
      align-items: center;
      margin: 0;

      &__about {
        h1 {
          width: 100%;
          font-size: 18px;
          text-align: center;
          font-weight: 500;
        }

        p {
          margin: 5% 10%;
          font-size: 12px;
          text-align: center;
          width: 80%;
        }
      }

      &__input {
        width: 100%;

        h1 {
          font-size: 18px;
          text-align: center;
          font-weight: 500;
        }

        p {
          margin: 0% 10%;
          width: 80%;
          font-size: 12px;
          text-align: center;
        }

        .form {
          margin: 1% 10% 5% 10%;
          width: 80%;

          input[type='email'] {
            margin: 1% 20%;
            width: 60%;
            height: auto;
            font-size: 12px;
          }

          input[type='submit'] {
            margin: 1% 20%;
            width: 60%;
            height: auto;
            font-size: 12px;
          }
        }
      }
      &__links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h1 {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
      }

      .link-group {
        width: 80%;
        margin: 0;
        align-items: center;

        .link {
          width: 45%;
          margin: 1% 0;
          transform: scale(0.8);
        }
      }
    }

    .footer-copyright {
      margin: 0px;
      font-size: 11px;
    }

    .footer-navigation {
      width: 80%;
      margin: 2%;

      ul {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 780px) {
  .footer-wrapper {
    padding: 40px 0px;

    .footer {
      &__about {
        max-width: 30%;
        h1 {
          text-align: center;
          font-size: 16px;
        }

        p {
          text-align: center;
          margin-top: 20px;
          font-size: 12px;
          width: 100%;
        }
      }
      &__input {
        max-width: 27%;
        h1 {
          font-size: 16px;
          text-align: center;
        }

        p {
          margin-top: 20px;
          font-size: 12px;
          width: 100%;
        }
        .form {
          input[type='email'] {
            height: auto;
            font-size: 12px;
          }

          input[type='submit'] {
            height: auto;
            font-size: 12px;
          }
        }
      }
      &__links {
        max-width: 30%;
        h1 {
          font-size: 16px;
          text-align: center;
        }

        .link-group {
          margin: 15px 0px;

          .link {
            max-width: 100%;
            margin: 0px;
            transform: scale(0.8);
          }
        }
      }
    }

    .footer-copyright {
      font-size: 12px;
    }

    .footer-navigation {
      width: 60%;
      font-size: 14px;
    }
  }
} ;
